<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">

    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <!-- Building Top-of-screen link directory to rest of site -->
    <ul class="nav">
        <li><a href="#href">Home</a></li>
        <li><a href="https://github.com/samellgass2/university-projects">Projects</a></li>
        <li><a href="https://samellgass.wixsite.com/samellgass">Music</a></li>
        <li><a href=#href>Contact</a></li>
    </ul>
    <div style="height: 200px; background-color: white;"> </div>
    <div class="container">
        {% block content %} {% endblock %}
    </div>

  </body>
</html>